{% extends 'base.html.twig' %}

{% block title %}Bild hinzufügen{% endblock %}

{% block body %}
    <div class="container card mt-5 p-3">
        <h1>Bild hinzufügen</h1>

        {{ include('image/_form.html.twig') }}

        <a href="{{ path('app_image_index') }}" class="btn btn-primary mt-3"><i class="mdi mdi-chevron-left me-1"></i>Zurück</a>
    </div>
{% endblock %}
