@import '~@mdi/font/css/materialdesignicons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootswatch/dist/darkly/bootstrap.min.css';
@import '~glightbox/dist/css/plyr.min.css'
@import '~glightbox/dist/css/glightbox.css'

@import './element/*.styl'