<form method="post" action="{{ path('app_album_delete', {'id': album.id}) }}"
      onsubmit="return confirm('Soll dieser Eintrag wirklich gelöscht werden?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ album.id) }}">
    <button class="btn btn-danger w-100"><i class="mdi mdi-trash-can me-1"></i>Löschen</button>
</form>
